<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mobileFlex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        *{margin:0;padding:0}
        .listHead{
            
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="listHead">
            <div>
                <span>自选</span>
                <span>基金名称</span>
            </div>
            <div>基金净值</div>
            <div>日涨幅</div>
        </div>

        <ul class="listGroup">
            <li>

            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>































